<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basilapp1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
<!--          <activity -->
<!--             android:name="com.example.basilapp1.AllDevicesActivity" -->
<!--             android:label="@string/app_name" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        
         
        <activity
            android:name="com.example.basilapp1.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.basilapp1.NewRegisterActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.basilapp1.ApplianceActivity"
            android:theme="@style/action_bar_style"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basilapp1.ModeActivity"
            android:theme="@style/action_bar_style"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.basilapp1.PlacesActivity"
            android:label="@string/app_name" >
        </activity>
<!--          <activity -->
<!--             android:name="com.example.basilapp1.ListPlacesActiviy" -->
<!--             android:label="@string/app_name" > -->
<!--         </activity> -->
    </application>

</manifest>
